K8S_CONTEXT=
DATA_PLATFORM_NAMESPACE=data-platform
AIRFLOW_DAGS_CONFIGMAP=airflow-dags
AIRFLOW_SCHEDULER_DEPLOYMENT=
AIRFLOW_WEBSERVER_DEPLOYMENT=
DBT_PROJECT_DIR=data-engineering/dbt
DBT_PROFILES_DIR=data-engineering/dbt/profiles
