K8S_CONTEXT=
PLATFORM_NAMESPACE=data-platform
HELM_RELEASE_NAME=apache-platform
HELM_CHART_PATH=platform-engineering/helm/apache-platform
GATEKEEPER_RELEASE_NAME=gatekeeper
GATEKEEPER_NAMESPACE=gatekeeper-system
